<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title th:text="'' + ${optionA} + ' vs ' + ${optionB} + '!'"></title>
    <base href="/index.html">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Tutum dev team">
    <link rel='stylesheet' th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div id="content-container">
    <div id="content-container-center">
        <h3 th:text="'' + ${optionA} + ' vs ' + ${optionB} + '!'"></h3>
        <form id="choice" name='form' method="POST" action="/">
            <button id="a" type="submit" name="vote" class="a" value="a" th:field="*{vote}" th:text="${optionA}"></button>
            <button id="b" type="submit" name="vote" class="b" value="b" th:field="*{vote}" th:text="${optionB}"></button>
        </form>
        <div id="tip">
            (Tip: you can change your vote)
        </div>
         <div id="hostname" th:text="'Processed by container ID ' + ${hostname}">
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

<script th:if="${vote != null}" th:inline="javascript">
      var vote = "[(${vote})]";

      if(vote == "a"){
        $(".a").prop('disabled', true);
        $(".a").html('[(${optionA})] <i class="fa fa-check-circle"></i>');
        $(".b").css('opacity','0.5');
      }
      if(vote == "b"){
        $(".b").prop('disabled', true);
        $(".b").html('[(${optionB})] <i class="fa fa-check-circle"></i>');
        $(".a").css('opacity','0.5');
      }
</script>
</body>
</html>