@import url("https://fonts.googleapis.com/css?family=Oswald:500");

html {
  height: 100%;
}

body {
  --app-background: linear-gradient(180deg, #1A161F 0%, #0D0C0F 49.17%);
  --app-horizontal-margin: 65px;
  --app-title-font: 'Oswald', serif;
  --app-normal-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --app-header-height: 64px;
  --app-header-z-index: 5;

  --color-green: #00D1CA;
  --color-navy: #1A263E;
  --shadow-level-1: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  --shadow-level-2: rgb(0 0 0 / 70%) 0px 40px 58px -16px, rgb(0 0 0 / 52%) 0px 30px 22px -10px;

  background: var(--app-background);
  color: #ffffff;
  font-family: var(--app-normal-font);
}

strong {
  font-weight: bold;
}

.App {
  font-family: var(--app-normal-font);
  font-size: 16px;
  height: 100vh;
  overflow: auto;
}

.App h2,
.TitleList .Title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -.01em;
  margin-bottom: .5em;
}

.App p {
  line-height: 1.6em;
  margin-bottom: 1em;
}

.App .spring {
  flex: 1 auto;
}

.App__header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: var(--app-header-z-index);
  min-height: var(--app-header-height);
  display: flex;
  flex-direction: column;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
  display: flex;
  align-items: center;
  padding: 0 var(--app-horizontal-margin);
  flex-direction: row;
  align-items: center;
}

.App__header.fixed {
  background-color: rgba(0, 0, 0, 0.8);
}

.App__logo {
  flex: 1;
  color: #ce1616;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
  font-family: var(--app-title-font);
  letter-spacing: -1.2px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4px;
}

.App__content {
  padding-top: calc(var(--app-header-height) + 12px);
}

.App__promo {
  background-color: #514360;
  padding: 8px 10px;
  color: #FFF;
  margin: 8px var(--app-horizontal-margin);
  border-radius: 4px;
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.App__promo strong {
  color: var(--color-green);
}

.TitleList {
  padding: 10px var(--app-horizontal-margin);
  box-sizing: border-box;
  transition: opacity 3s ease;
  position: relative;
  z-index: 4;
}

.DevToast {
  --toast-size: 224px;

  background-color: var(--color-green);
  color: var(--color-navy);
  letter-spacing: -.04rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: absolute;
  z-index: calc(var(--app-header-z-index) + 1);
  width: var(--toast-size);
  left: calc(50% - calc(var(--toast-size) / 2));
  padding: 6px 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: var(--shadow-level-1);
  cursor: default;
}

.TitleList--empty {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: .5em;
  margin: 1em;
}

.TitleList__slider {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  place-content: center flex-start;
  flex-flow: row wrap;
}

.TitleList h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 20;
  overflow: hidden;
  max-width: 200px;
  width: calc(30% - 20px);
  margin: 20px 0px 0px 20px;
  aspect-ratio: 0.69;
  box-shadow: var(--shadow-level-1);
  transition-duration: 150ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
}

.Item:hover {
  z-index: 21;
  box-shadow: var(--shadow-level-2);
  transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
}

.Item:last-child {
  margin-right: 0;
}

.Item__container {
  border-radius: 12px;
  background-color: #000000;
  background-position: center;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Item__overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 20%, transparent 100%);
  padding: 20px;
  position: relative;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity .125s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Item__title {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.Item__rating {
  font-size: 14px;
}

.Item__price {
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  border-radius: 12px;
  padding: 14px 18px;
  font-size: 26px;
}

.Item:hover .Item__overlay {
  opacity: 1;
  pointer-events: all;
}

.Item__button {
  display: inline-block;
  color: #fff;
  background-color: #ce1616;
  border-radius: 100px;
  box-shadow: -1px 4px 20px 3px #000000;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 20px;
  margin: 8px;
  text-align: center;
  transition: transform .2s ease-in-out;
}

.Item__button:hover {
  background-color: #f02323;
  transform: scale(1.05);
}

.Item__button--rented {
  background-color: #000000;
}

.Item__button--rented:hover {
  background-color: #1e1e1e;
}

@media only screen and (max-width: 1050px) {
  .Item__title {
    font-size: 18px;
  }

  .Item__button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) {
  .Item {
    width: 180px;
  }

  .Item__title, .Item__rating {
    display: none;
  }
}

.Cart {
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 20;
  overflow: hidden;
  max-width: 200px;
  width: calc(30% - 20px);
  margin: 20px 0px 0px 20px;
  aspect-ratio: 0.69;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transition-duration: 150ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
}

.Cart__container {
  border-radius: 12px;
  background-color: #2A2332;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 2px;
  position: relative;
  padding: 14px 20px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.Cart__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.Cart__list {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 14px;
  font-weight: normal;
  margin: 12px 4px;
}

.Cart__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.Cart__item-name {
  flex: 1;
  white-space: nowrap;
  margin-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Cart__total {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 0;
  border-top: 1px solid #d4d3d668;
}

.Cart__total-title {
  flex: 1;
  white-space: nowrap;
  margin-right: 4px;
}

.Cart__total-price {
  font-size: 22px;
}

@media only screen and (max-width: 800px) {
  .Cart {
    width: 180px;
  }

  .Cart__list {
    display: none;
  }

  .Cart__total {
    border: 0;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  .Cart__total-title {
    flex: 0;
  }
}

.Loader {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0 auto 1em;
}

.Loader svg path,
.Loader svg rect {
  fill: var(--color-green);
}
